.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.card {
  background-color: #849F27;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width:  130px;
  height: 40px;
  z-index: 2;
  top: 90%;
  right: 40%;
}

.btnAll {
  background-color: #849f27;
  border-color: #849f27;
  border-radius: 5px;
  color: white;
  height: 8vh;
  width: 100%;
}

