.image {
  width: 120px;
  height: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.name {
  margin-bottom: 0;
  color: white;
}

.buttons {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.type {
  color: darkgrey;
}

.iten {
  background-color: darkolivegreen;
}

.copy {
  font-weight: bold;
  position: fixed;
  width:  130px;
  height: 40px;
  z-index: 2;
  top: 85%;
  right: 36%;
}
