/* p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 150%;
  font-size:medium;
  text-align: justify;
} */

body {
  display: block;
  color: white;
}

.contente {
  display: flex;
  flex-direction: column;
}

.contente h1, h3 {
  margin-top: 20px;
  color: #849F27;
}

.btnRecipe {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #849F27;
  color: azure;
  font-size: large;
  text-align: center;
  border-color: #849F27;
}

.backgroundCopyLink {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #849F27;
  border-radius: 10px;
  width:  105px;
  height: 40px;
  z-index: 5;
  top: 85%;
  right: 36%;
}

.backgroundCopyLink p {
  margin: 0;
  padding: 0;
}

.backgroundImage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backgroundIcons{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.instructions {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.instructions h3 {
  margin-left: 20px;
}

.instructions p {
  padding: 20px 20px;
  text-align: justify;
}

.ingredients {
  margin-bottom: 5px;
}

.backgroundIngredients {
  margin-bottom: 15px;
  margin-left: 20px;
}

.image {
  width: 350px;
  height: auto;
  border-radius: 10px;
}

.carrosel {
  height: 400px;
}

.carrosel span p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.imageCarousel {
  width: 200px;
  height: auto;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

