body {
    background-color: #3F431A;
}

.login-page {
    display: flex;
    flex-direction: column;
}


.form-login {
    display: flex;
    justify-content: center;
}

.cookfy-logo {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    max-width: 100%;
}

.cookfy-logo img {
    max-width: 200px;
}

.mb-3 input {
    margin-bottom: 0.5rem;
}

.login-button:disabled {
    background-color: #454643;
    color: #7272729d;
    border: none;
}

.login-button {
    border: none;
  transition: background-color 0.5s ease, color 0.3s ease;
}
